<nav><ul>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "elm"}}Elm{{/link-to}}</li>
</ul></nav>

<h2>About</h2>
<div>This is a proof of concept website for elm routing mixed with an existing ember site.</div>
<div>Click between elm and ember routes to see if when the elm router is active.</div>